@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
/* limpiar estilo del navegador siempre */
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
}
div#wrapper{
	width: 1024px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
nav{
	width: 1024px;
	height: 70px;
	background-color: black;
}
header{
	width: 1024px;
	height: 600px;
	background-image: url("exportacion/header.jpg");
}
section#relojes{
	width: 1024px;
	height: 457px;
	padding-top: 20px;
}
section#nosotros{
	width: 1024px;
	height: 748px;
}
section#catalogo{
	width: 1024px;
	height: 788px;
}
section#contacto{
	width: 1024px;
	height: 615px;
}
footer{
	width: 1024px;
	height: 50px;
	background-color: #461C31;
}
nav img{
	float: left; /*float alineacion*/
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
nav ul{
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}
nav ul li{
	float: left;
	margin-left: 30px;
	
}
nav a{
	font-size: 19px;
	color: white;
	text-decoration: none;
}
nav a:hover{ /*por encima*/
	color: #FC5F02;
	
}
section#relojes h2{
	font-size: 34px;
	color: white;
	background-color: #30a2a6;
	width: 324px;
	height: 105px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
div.boxRelojes{
	width: 237px;
	height: 273px;
	float: left; /*float cambiar de columna a fila*/
	margin-top: 40px;
	margin-left: 9px;
	margin-right: 9px;
}
div.boxRelojes img{
	width: 100px;
	height: 100px;
	margin-top: 40px;
	margin-left: 70px;
	
}
div.boxRelojes p{
	font-size: 20px;
	text-align: center;
	color: #2B2B2B;
	margin-top: 10px;
}
h2.titulos {
	font-size: 34px;
	color: white;
	background-color: #30a2a6;
	width: 324px;
	height: 61px;
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
div#boxNosotros {
	width: 846px;
	height: 551px;
	background-color: #EF898A;
	margin-left: 87px;
	margin-right: 87px;
	margin-top: 52px;
}
div.cajitas {
	width: 423px;
	height: 276px;
	background-color:#2C19BC;
	float: left;
}
div#txtArtesanales{
	color: #CCCCCC;
	background-color: #963F6B;
}
div#txtdiseno{
	color: #CCCCCC;
	background-color: #30A2A6;
}
div.cajitas h3{
	margin-right: 38px;
	margin-left: 38px;
	margin-top: 63px;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 24px;
}
div.cajitas p{
	margin-left: 39px;
	margin-right: 39px;
	font-size: 14px;
	line-height: 24px;
}
div.boxcatalogo{
	width: 324px;
	height: 587px;
	background-color: #461C31;
	float: left;
	margin-top: 66px;
	margin-left: 8px;
	margin-right: 8px;
}
div.boxcatalogo h4{
	font-size: 34px;
	color: #B14E80;
	text-align: center;
	margin-top: 50px;
	
}
div.boxcatalogo h5{
	font-size: 21px;
	color: #B14E80;
	text-align: center;
	padding-bottom: 45px;
}
div.boxcatalogo p{
	font-size: 14px;
	color: #B14E80;
	text-align: center;
	line-height: 30px;
}
div.boxcatalogo a{
	width: 112px;
	height: 30px;
	display: block; /*comvertir boton a caja*/
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #B14E80;
	border-radius: 22px;
	padding-top: 8px;
	text-decoration: none;
	color: #B14E80;
	text-align: center;
	margin-top: 24px;
}
div.boxcatalogo img{
	margin-top: 48px;
	margin-left: 63px;
	margin-right: 63px;
}
div.boxcontacto {
	width: 512px;
	height: 360px;
	float: left;
	margin-top: 64px;
	
}
div.cajitascontancto input {
	width: 324px;
	height: 40px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	margin-left: 87px;
	background-color: transparent;
	margin-bottom: 15px;
	padding-left: 15px;
	font-size: 16px;
}
div#comentario.cajitascontancto textarea {
	width: 324px;
	height: 129px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	margin-left: 87px;
	background-color: transparent;
	resize: none; /*quitar modificador de tamaño de comentario*/
	padding-left: 15px;
	padding-top: 10px;
	font-size: 16px;
}
div.boxcontacto a{
	width: 87px;
	height: 30px;
	display: block; /*comvertir boton a caja*/
	margin-left: 324px;
	border: solid 1px #B14E80;
	border-radius: 8px;
	padding-top: 8px;
	text-decoration: none;
	color: black;
	text-align: center;
	margin-top: 5px;
	background-color: #B14E80;
	cursor: pointer;/*Cambiar cursos a manita para enviar*/
}
footer h2 {
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	color: white;
	font-size: 16px;
}
footer ul {
	float: right;
	margin-right: 15px;
	margin-top: 20px;
	list-style: none;
}
footer ul li{
	float: left;
	margin-left: 15px;
}
div#face{
	width: 7px;
	height: 13px;
	background-image: url("exportacion/facebook.svg");
}
div#face:hover{
	background-image: url("exportacion/facebook_rosa.svg");
}
div#tw{
	background-image: url("exportacion/twitter.svg");
	width: 13px;
	height: 11px;
}
div#tw:hover{
	background-image: url("exportacion/twitter_rosa.svg");
}
div#insta{
	background-image: url("exportacion/instagram.svg");
	width: 13px;
	height: 13px;
}
div#insta:hover{
	background-image: url("exportacion/instagram_rosa.svg");
}



::-webkit-input-pkaceholder{color: #b14e80;} /* moderador Safari & Chrome*/
::-moz-input-pkaceholder{color: #b14e80;} /* moderador Mozila Firefox*/
::-ms-input-pkaceholder{color: #b14e80;} /* moderador Microsoft IE o Edge*/
::-o-input-pkaceholder{color: #b14e80;} /* moderador Opera */
input-pkaceholder{color: #b14e80;} /* moderador Universal */